<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <title>Chicken Tinder</title>
  <!--need hidden class to keep everything from showin up at once-->
  <!--<style>
    .hidden{
      display: none;
    }
  </style> -->
</head>
<body>
  <h1>Chicken Tinder</h1>
  
  {% if done %}
    <h2>Results</h2>
    {% for result in results %}
        <p>{{loop.index}}. {{ result[1] }} - {{ result[3] }} votes</p>
    {% endfor %}
  {% else %}
    <h2>{{ restaurant[1] }}</h2>
    <form action="/chickenTinder/vote" method="POST">
      <input type="hidden" name="eventId" value="{{ eventId }}">
      <input type="hidden" name="username" value="{{ username }}">
      <input type="hidden" name="restaurantId" value="{{ restaurant[0] }}">
      <button type="submit" name="vote" value="1">Yes</button>
      <button type="submit" name="vote" value="0">No</button>
    </form>

   {% endif %} 

   <a href="/event/{{eventId}}">Back to Event</a>

  <!-- <div id = "setup">
    <h3>Start Voting</h3>
    <button onclick = "startVoting()">Start</button>
  </div>-->

  <!--Voting sectuion-->
  <!--<div id = "votingSection" class = "hidden">
    <h2 id = "restaurantName"></h2>
    Votes! yes and no assign to 1 and 0
    <button onclick = "vote(0)">No</button>
    <button onclick = "vote(1)">Yes</button>
  </div>-->

  <!--Display results
  <div id = "resultsSection" class = "hidden">
    <h2>Voting Completed</h2>
    <div id = "resultsList"></div>
  </div> -->

  <!--JS script for functionality!!
  <script>
    //start the voting by setting up stuff
    function startVoting(){
      //grab info from input
      //currentUsername = document.getElementById('username').value;
      //grab info but parse it to make it actually an int
      //currentEventId = parseInt(document.getElementById('eventId').value);
      
      //hide the setup and show voting
      document.getElementById('setup').classList.add('hidden');
      document.getElementById('votingSection').classList.remove('hidden');

      loadNextRestaurant();
    }

    //load the next rest to be voted on 
    function loadNextRestaurant(){
      //call api w/ params -> send request to api url & get data back!!
      fetch(`/chickenTinder/nextRest?username=${currentUsername}&eventId=${currentEventId}`)

      //convert to JSON & process -> .then will take the response and convert 
        .then(response => response.json())
        .then(data => {
          if(data.done){
            showResults(data.results);    //if all have been voted on show results
          } 
          else{   //if not show restaurant
            currentRestaurant = data.restaurant;
            displayRestaurant(data.restaurant);
          }
        })
    }

    //display rest names
    function displayRestaurant(restaurant){
      //textContext sets elements text!! 
      document.getElementById('restaurantName').textContent = restaurant.name;
    }

    //submit the vote!
    function vote(voteVal){
      //usin fetch to send(POST :D) data
      fetch('/chickenTinder/vote', { method: 'POST', 
        //have to tell api json being sent
        headers: {'Content-Type': 'application/json'},
        //turn vote into all the data sent
        body: JSON.stringify({
          username: currentUsername,
          eventId: currentEventId,
          restaurantId: currentRestaurant.id,
          vote: voteVal
        })

      })
      //convert to json and process
      .then(response => response.json())
      .then(data => {
        if(data.success){
            loadNextRestaurant(); 
        } 
      })
    }

    //show final results
    function showResults(results){
      //hide voting and show results
      document.getElementById('votingSection').classList.add('hidden');
      document.getElementById('resultsSection').classList.remove('hidden');

      //get results
      const resultsList = document.getElementById('resultsList');
      //loop thru rests 
      results.forEach((restaurant, index) => {
        const div = document.createElement('div');
        //rank them starting at 1 instead of 0 bc yeah
        div.innerHTML = `${index + 1}. ${restaurant.name} - ${restaurant.votes} votes`;
        resultsList.appendChild(div);
      });
    }
  </script> -->
</body>
</html>