<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>

    <h2>Please enter your RSO information here</h2>

    <form action="{{ url_for('orgSignup') }}" method = "POST">
        <label for="username">Username:</label><br>
        <input type="text" name="username"><br><br>
        {% with messages = get_flashed_messages(category_filter="usererror") %}
                                {% if messages %}
                                    {% for message in messages %}
                                    <p style="color: rgb(154, 0, 0); font-style: italic;" > {{ message }} </p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
        <label for="password">Password:(must be 8-25 characters, with at least one number and one uppercase letter)</label><br>
        <input type="password" name="password"><br><br>
        {% with messages = get_flashed_messages(category_filter="passworderror") %}
                        {% if messages %}
                            {% for message in messages %}
                            <p style="color: rgb(154, 0, 0); font-style: italic;" > {{ message }} </p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                
        <label for="email">RSO Email:</label><br>
        <input type="email" name="email"><br><br>
        {% with messages = get_flashed_messages(category_filter="emailerror") %}
                        {% if messages %}
                            {% for message in messages %}
                            <p style="color: rgb(154, 0, 0); font-style: italic;" > {{ message }} </p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
        <label for="firstname">Organization Name:</label><br>
        <input type="text" name="firstname"><br><br>

        <label for="adminCode">Code:</label><br>
        <input type="number" name="adminCode"><br><br>
        {% with messages = get_flashed_messages(category_filter="codeerror") %}
                                {% if messages %}
                                    {% for message in messages %}
                                    <p style="color: rgb(154, 0, 0); font-style: italic;" > {{ message }} </p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
        <input type="submit" value="submit">
    </form>

    <h4> <a href="/login">Back to login</a></h4>

</body>
</html>