<!DOCTYPE html>
<html>
<head>
    <title>Schedule Input</title>
    <style>
        body {
            display: flex;
            font-family: Arial;
        }

        .left {
            width: 65%;
            padding: 20px;
        }

        .right {
            width: 35%;
            padding: 20px;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding:6px;
        }
    </style>
</head>
<body>

    <div class="left">
        <h1>Input your Schedule</h1>

        <form method="POST" action="/scheduleSubmit">

            <label>Username:</label>
            <input type="text" name="username" required>

            <br><br>

            <label>How many events?</label>
            <input type="number" id="numRows" min="1" oninput="createTable()">

            <div id="tableContainer"></div>

            <br>
            <button type="submit">Save Schedule</button>
        </form>



        <h2>Input your Username to view Schedule</h2>

        <form method="GET" action="/viewSchedule">

            <label>Username:</label>
            <input type="text" name="username" required>
            <button type="submit">View Schedule</button>
        </form>

        <script>
            function createTable() {
                const n = parseInt(document.getElementById("numRows").value);
                const container = document.getElementById("tableContainer");
                container.innerHTML = "";

                if (!n || n <= 0) return;

                let table = document.createElement("table");

                let header = document.createElement("tr");
                ["Event", "Day", "Start", "End"].forEach(text => {
                    let th = document.createElement("th");
                    th.textContent = text;
                    header.appendChild(th);
                });
                table.appendChild(header);

                for (let i = 0; i < n; i++) {
                    let row = document.createElement("tr");

                    row.innerHTML = `
                                        <td><input type="text" name="event[]" required></td>
                                        <td>
                                            <select name="dayofweek[]">
                                                <option>Mon</option>
                                                <option>Tue</option>
                                                <option>Wed</option>
                                                <option>Thu</option>
                                                <option>Fri</option>
                                            </select>
                                        </td>
                            <td><input type="time" name="startTime[]"required></td>
                            <td><input type="time" name="endTime[]"required></td>

                                    `;

                    table.appendChild(row);
                }

                container.appendChild(table);
            }</script>

        <h3>Delete an Event</h3>

        <form method="POST" action="/deleteschedule">

            <label>Username:</label>
            <input type="text" name="username" required>

            <br><br>

            <label>Event to Delete:</label>
            <input type="text" name="event" required>

            <br><br>

            <button type="submit">Delete Event</button>

        </form>


        <a href='/'>
            <button>Go back to Home</button>
        </a>
    </div>
 
    <!-- CHANGED HERE-->
    <div class="right">

        <h2>Events</h2>

        {% if schedules %}
        <table>
            <tr>
                <th>Event</th>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>

            {% for event in schedules %}
            <tr>
                <td>{{ event[1] }}</td> <!--have to specify 1,3,4,5 bc those are the order of info returned from get all events, name, day, start and end time. other values are usless-->
                <td>{{ event[3]}}</td>
                <td>{{ event[4] }}</td>
                <td>{{ event[5] }}</td>
            </tr>
            {% endfor %}

        </table>

        {% else %}
        <p>No schedule found for this user.</p>
        {% endif %}

    </div>


</body>
</html>